<div class="row">
  <div class="col-md-11" style="margin-left: 20px">
    <h3 style="margin-top: 20px">List piste </h3>
    <hr>
    <button class="btn btn-round btn-sm btn-success" (click)="open(mymodal1,null)">Add new piste</button>
    <br><br>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>numPiste</th>
        <th>namePiste</th>
        <th>color</th>
        <th>length</th>
        <th>slope</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor='let p of listpistes'>
          <td>{{p.numPiste}}</td>
          <td>{{p.namePiste}}</td>
          <td>{{p.color}}</td>
          <td>{{p.length}}</td>
          <td>{{p.slope}}</td>
        <td>
          <button type="button" class="btn btn-outline-primary"
                  (click)="open(mymodal1,p)">Edit
          </button>
          &nbsp;
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
<ng-template #mymodal1 let-modal1>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new piste</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal1.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="piste-namePiste">namePiste</label>
        <div class="input-group">
          <input id="piste-namePiste" class="form-control" type="text" placeholder="namePiste"
                 [(ngModel)]="piste.namePiste"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      <div class="mb-3">
        <label for="piste-color">color</label>
        <div class="input-group">
          <input id="piste-color" class="form-control" type="text" placeholder="color"
                 [(ngModel)]="piste.color"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      <div class="mb-3">
        <label for="piste-length">length</label>
        <div class="input-group">
          <input id="piste-length" class="form-control" type="number" placeholder="length"
                 [(ngModel)]="piste.length"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
      <div class="mb-3">
        <label for="piste-slope">slope</label>
        <div class="input-group">
          <input id="piste" class="form-control" type="number" placeholder="slope"
                 [(ngModel)]="piste.slope"
                 [ngModelOptions]="{standalone : true}"></div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="addpiste(piste)"
            (click)="modal1.close('Save click')">Add
    </button>
    <button type="button" class="btn btn-danger" (click)="modal1.close('Save click')">Cancel</button>
  </div>
</ng-template>